# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm

# Local Environment Variables
.env*.local

# Next.js
/.next/
/out/

# Production
/build

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
